// font-size
$font-size-title: 2rem;
$font-size-sub-title: 1rem;
$font-size-text: 0.8rem;
$font-size-description: 0.5rem;

// color
// 取自 https://hookagency.com/website-color-schemes/
$color-mountain-shadow-blue: #101357;
$color-old-makeup-pink: #fea49f;
$color-goldenrod-yellow: #fbaf08;
$color-bluebell-light-blue: #00a0a0;
$color-bold-2019-green: #007f4f;
