#views-the_videoplayer {
  .container {
    .main {
      border: 1px solid $color-mountain-shadow-blue;
      border-radius: 5px;
    }
    .card {
      background-color: $color-mountain-shadow-blue;
      height: auto;
    }
    .card-title {
      color: lightgray;
      font-size: $font-size-title;
      padding: 0.6rem 1rem 0;
    }
    .card-description {
      -webkit-box-orient: vertical;
      color: lightgray;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      margin: 0 auto;
      max-width: 100%;
      overflow: hidden;
      padding: 1rem;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      width: 100%;
    }

    .actived {
      color: lightgray;
      height: auto;
      margin: 0 auto;
      max-width: 100%;
      padding: 1rem;
      width: 100%;
      //white-space: pre-wrap;
    }
    .card-text {
      color: #fff;
      padding: 1rem;
      margin: 0 auto;
    }
    a {
      color: lightgray;
      padding: 1rem;
      margin: 1rem auto;
    }
  }
}
